* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    color: var(--color-grayish-blue);
}

body {
    min-height: 100vh;
    background-color: var(--color-light-gray);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qrcode__container {
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 16px;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.qrcode__image {
    border-radius: 16px;
    overflow: hidden;
}

.qrcode__image img {
    width: 100%;
    height: 100%;
}

.qrcode__title {
    font-size: 22px;
    text-align: center;
    color: var(--color-dark-blue);
    margin-top: 20px;
}

.qrcode__description {
    text-align: center;
    font-size: 16px;
    padding: 0 1.1rem;
    margin-top: 15px;
    margin-bottom: 24px;
}